<%- include('../views/element/head.ejs') %> <!-- Head -->
<body>
	 <%- include('../views/element/header.ejs')%> <!-- Header -->
	<div class="container">
		<h1><%= message %></h1>
		<div class="input-group mb-3">
			<input type="text" class="form-control" placeholder="Id-weapon" aria-label="id-weapon">
		</div>
		<button class="btn btn-primary" type="submit">DELETE</button>

	</div>
	<%- include('../views/element/footer')%> <!-- Footer -->
</body>
</html>