<%- include('../views/element/head.ejs') %> <!-- Head -->
<body>
	 <%- include('../views/element/header.ejs')%> <!-- Header -->
	<div class="container">
		<h1><%= message %></h1>
		<div class="input-group mb-3">
			<form action="/delete/:id" method="POST">
				<input type="text" name="id" class="form-control" placeholder="Id-weapon" aria-label="id-weapon">
				<button class="btn btn-primary" type="submit">DELETE</button>
			</form>
		</div>
	</div>
	<%- include('../views/element/footer')%> <!-- Footer -->
</body>
</html>